* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Pretendard';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard';
  src: url(fonts/Pretendard-Regular.otf);
}

html, body {
  width: 100%;
  background-color: #262523;
}


#main {
  width: calc(100% - 104px);
  margin-left:52px;
  height: 100vh;
  border:1px;
  border-style: solid;
}

.header {
  position: fixed;
  width: calc(100% - 104px);
  margin-left: 52px;
  height: 134px;
  border: 1px;
  border-style: solid;
  top:0;
  left: 0;
  z-index: 1;
  background-color: #262523;
  line-height: 134px;
}

.portfolio {
  height: 134px;
  display: inline-block;
}
.portfolio h2 {
  font-size: 40px;
}

.list {
  float: right;
  height: 134px;
  line-height: 200%;
  padding: 35px 0 35px 0;
}

.main_1 {
  width: 100%;
  padding-top: 134px;
  position: relative;
}

.main_left {
  width: 54.40%;
  display: inline-block;
}
.main_left h1 {
  font-size: 200px;
  line-height: 160px;
}

.main_left h2 {
  font-size: 124px;
  line-height: 210px;
}

.main_right {
  display: inline-block;
  width: 45.6%;
  position: absolute;
  padding: 3% 0 0 3%;
}

.project {
  width: 100%;
  
}
.somewhere {
  width: 100%;
}

.main_2 {
  width: 100%;
  position: relative;
}

.main_2_left {
  width: 54.40%;
  position: absolute;
}

.info1 {
  display: inline-block;
  font-size: 0.8rem;
  width: 10%;
}

.info2 {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 40px;
  width: 20%;
}

.info3 {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 40px;
  width: 58%;
}

.main_2_right {
  padding-left: 3%;
  width: 45.60%;
  position: absolute;
  right: 0;
}

.skill {
  display: inline-block;
}

.skills {
  display: inline-block;
}