* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Pretendard';
  text-decoration-line: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard';
  src: url(fonts/Pretendard-Regular.otf);
}

html, body {
  width: 100%;
  background-color: #262523;
  scroll-behavior: smooth;
}

#main {
  width: calc(100% - 104px);
  margin-left:52px;
  height: calc(100% + 80px);
  border:3px;
  border-style: solid;
}

.header {
  position: fixed;
  width: calc(100% - 104px);
  margin-left: 52px;
  height: 134px;
  border: 3px;
  border-style: solid;
  top:0;
  left: 0;
  z-index: 1;
  background-color: #262523;
  line-height: 127px;
}

.portfolio {
  height: 134px;
  display: inline-block;
  margin-left: 2%;
}

.portfolio h2 {
  font-size: 40px;
  text-decoration-line: overline;
}

.list {
  display:table; 
  float: right;
  width: 220px;
  line-height: 78px;
}

.list a {
  display:table-cell; 
  font-size: 16px;
  padding-right: 20px;
}

.main_1 {
  width: 100%;
  padding-top: 134px;
  position: relative;
}

.main_left {
  width: 54.40%;
  display: inline-block;
}

.main_right {
  display: inline-block;
  width: 45.6%;
  position: absolute;
  padding: 2% 2% 0 2%;
}

.main_right h2 {
  font-size: 24px;
  box-shadow: 0 3px 0 0;
}

.main_right p {
  font-size: 18px;
  line-height: 160%;
}

.main_2_right {
  margin-top: 3%;
  width: 45.60%;
}

.skills {
  position: absolute;
  width: 100%;
}

.main_2_right p {
  font-size: 15px;
  line-height: 120%;
}

.project {
  width: 100%;
}

.somewhere {
  width: 100%;
  box-shadow: 0 0 0 1px;
}

.main_2 {
  width: 100%;
  height: 134px;  
  position: relative;
  margin-top: 1%;
}

.main_2_left {
  bottom: 0;
  width: 100%;
  position: absolute;
  line-height: 120%;
  margin: 0 2% 2% 2%;
}

.info1 {
  display: inline-block;
  font-size: 14px;
  width: 3%;
  margin-right: 40px;
}

.info2 {
  display: inline-block;
  font-size: 14px;
  width: 8%;
  margin-right: 40px;
}

.info3 {
  display: inline-block;
  font-size: 14px;
  width: calc(84.5% - 80px);
}


@media screen and (max-width:1680px){
  .main_2 {
    margin-top: 2%;
  }

  .main_right h2 {
    font-size: 24px;
    box-shadow: 0 3px 0 0;
  }
  
  .main_right p {
    font-size: 15px;
    line-height: 160%;
  }

  .info2 {
    display: inline-block;
    font-size: 14px;
    width: 10%;
    margin-right: 40px;
  }
  
  .info3 {
    display: inline-block;
    font-size: 12px;
    width: calc(82.5% - 80px);
  }
  
}

@media screen and (max-width:1440px){
  .main_2 {
    margin-top: 3%;
  }

  .main_right h2 {
    font-size: 20px;
    box-shadow: 0 3px 0 0;
  }
  
  .main_right p {
    font-size: 14px;
    line-height: 160%;
  }

  .info1 {
    display: inline-block;
    font-size: 12px;
    width: 3%;
    margin-right: 40px;
  }

  .info2 {
    display: inline-block;
    font-size: 12px;
    width: 12%;
    margin-right: 40px;
  }
  
  .info3 {
    display: inline-block;
    font-size: 10px;
    width: calc(80.5% - 80px);
  }
  
}

@media screen and (max-width:1300px){
  .main_2 {
    margin-top: 4%;
  }

  .main_right h2 {
    font-size: 18px;
    box-shadow: 0 3px 0 0;
  }
  
  .main_right p {
    font-size: 12px;
    line-height: 140%;
  }

  .info1 {
    display: inline-block;
    font-size: 12px;
    width: 3%;
    margin-right: 40px;
  }

  .info2 {
    display: inline-block;
    font-size: 12px;
    width: 12%;
    margin-right: 40px;
  }
  
  .info3 {
    display: inline-block;
    font-size: 8px;
    width: calc(80.5% - 80px);
  }
  
}

@media screen and (max-width:1024px){
  .main_2 {
    margin-top: 3%;
  }

  .main_right h2 {
    font-size: 16px;
    box-shadow: 0 3px 0 0;
  }
  
  .main_right p {
    font-size: 10px;
    line-height: 160%;
  }

  .info1 {
    font-size: 12px;
  }

  .info2 {
    font-size: 12px;
    width: 14%;
  }
  
  .info3 {
    display: inline-block;
    font-size: 1px;
    width: calc(78% - 80px);
  }
  
}

@media screen and (max-width:500px){

  .main_2 {
    margin-top: 85%;
  }

  .main_right h2 {
    font-size: 14px;
    box-shadow: 0 3px 0 0;
  }
  
  .main_right p {
    font-size: 10px;
    line-height: 160%;
  }

  .info1 {
    font-size: 10px;
    width: 5%;
    line-height: 140%;
  }

  .info2 {
    font-size: 10px;
    width: 35%;
    line-height: 140%;
  }
  
  .info3 {
    margin-top: 5%;
    display: inline-block;
    font-size: 1px;
    width: 96%;
  }
  
  .list {
    display:table; 
    float: right;
    width: 180px;
    line-height: 78px;
  }
  
  .list a {
    display:table-cell; 
    font-size: 14px;
    padding: 0;
  }
}

