/************ 전체 설정 ************/

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Pretendard';
  text-decoration-line: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/************ 폰트 불러오기 ************/
@font-face {
  font-family: 'Pretendard';
  src: url(fonts/Pretendard-Regular.otf);
}

html,
body {
  width: 100%;
  background-color: #262523;
  scroll-behavior: smooth;
}

/****************************** Page 1 ******************************/
#page_1 {
  width: calc(100% - 104px);
  margin-left: 52px;
  height: calc(100% + 80px);
  border: 0px;
  border-bottom: 0.5px;
  border-style: solid;
}

/************ Header ************/
.header {
  position: fixed;
  width: 100%;
  height: 100px;
  border-bottom: solid #dcdcdc 0.5px;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #262523;
  line-height: 100px;
}

/************ Logo ************/
.logo {
  height: 100px;
  display: inline-block;
}

.logo h2 {
  font-size: 32px;
  font-weight: 200;
  margin-left: 52px;
}

/************ Menu ************/
.menu {
  display: table;
  float: right;
  width: 220px;
  line-height: 50px;
}

.menu a {
  display: table-cell;
  font-size: 16px;
  padding-right: 20px;
}

/************ 메인 상단 구역 ************/
.main_1 {
  width: 100%;
  padding-top: 100px;
  position: relative;
}

/************ 메인 왼쪽 구역 ************/
.main_left {
  width: 54.40%;
  display: inline-block;
}

/************ 메인 오른쪽 구역 ************/
.main_right {
  display: inline-block;
  width: 45.6%;
  position: absolute;
  padding: 2% 2% 0 2%;
}

.main_right h2 {
  font-size: 24px;
  box-shadow: 0 1px 0 0;
  line-height: 150%;
}

.main_right p {
  font-size: 18px;
  line-height: 160%;
  font-size: clamp(0.5rem, 1.1vw, 1.5rem);
}

.main_2 p {
  font-size: 15px;
  line-height: 120%;
  font-size: clamp(0.1rem, 0.8vw, 1rem);
}

/************ Project 1 ************/
.somewhere {
  width: 100%;

}

/************ Project 2 ************/
.fridgemap {
  width: 100%;
  box-shadow: 0 0 0 1px;
}

/************ 메인 하단 구역 ************/
.main_2 {
  width: 100%;
  height: 134px;
  position: relative;
  margin-top: 2%;
  padding: 0 2% 2% 2%;
}

.info {
  bottom: 0;
  width: 100%;
  position: absolute;
  margin-bottom: 2%;
  line-height: 120%;
}

.info_1 {
  display: inline-block;
  font-size: 14px;
  margin-right: 40px;
}

.info_2 {
  display: inline-block;
  font-size: 14px;
  margin-right: 40px;
}

.info_3 {
  display: inline-block;
  font-size: 14px;
  width: calc(84.5% - 86px);
  margin-right: 40px;
}

/****************************** Page2 ******************************/
#page_2 {
  width: calc(100% - 104px);
  margin-left: 52px;
  height: calc(100% + 80px);
  border-width: 0 3px 3px 3px;
  border-bottom: 0.5px;

  /* 헤더가 fixed나 sticky일때 내부 링크로 이동시키면 위치가
    틀어지는 문제를 해결하기 위한 설정 */
  margin-top: -99px;
  padding-top: 99px;
}

.s_main_1 {
  position: relative;
  display: inline-block;
  width: 100%;
}

.s_main_1_l {
  display: inline-block;
  width: 59.7%;
  margin: 0 0 3% 2.5%;
}

.somewhere_main {
  width: 95.8%;

}

.s_main_1_r {
  display: inline-block;
  width: 38%;
  position: absolute;
  top: 0;
  padding-right: 2.5%;
}

.s_main_1_r p {
  font-size: 18px;
  line-height: 120%;
  font-size: clamp(0.5rem, 1.1vw, 1.5rem);
}

.s_main_2 {
  position: relative;
  width: 100%;
}

.s_main_2 p {
  font-size: 15px;
  line-height: 120%;
  font-size: clamp(0.1rem, 1vw, 1rem);
  text-align: center;
}

.s_main_2_l {
  display: inline-block;
  width: 69%;
  padding: 0 0 0 2.5%;
}

.s_main_2_r {
  display: inline-block;
  width: 29%;
  margin-right: 2%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

/****************************** Page3 ******************************/
#page_3 {
  width: calc(100% - 104px);
  margin-left: 52px;
  height: calc(100% + 80px);
  border-width: 0 3px 3px 3px;
  border-bottom: 0.5px;

  /* 헤더가 fixed나 sticky일때 내부 링크로 이동시키면 위치가
    틀어지는 문제를 해결하기 위한 설정 */
  margin-top: -99px;
  padding-top: 99px;
}

.f_main_1 {
  position: relative;
  display: inline-block;
  width: 100%;
}

.f_main_1_l {
  display: inline-block;
  width: 59.7%;
  margin: 0 0 3% 2.5%;
}

.fridegemap_main {
  width: 95.8%;
  box-shadow: 0 0 0 1px;
}

.f_main_1_r {
  display: inline-block;
  width: 38%;
  position: absolute;
  top: 0;
  padding-right: 2.5%;
}

.f_main_1_r p {
  font-size: 18px;
  line-height: 120%;
  font-size: clamp(0.5rem, 1.1vw, 1.5rem);
}

.f_main_2 {
  position: relative;
  width: 100%;
}

.f_main_2 p {
  font-size: 15px;
  line-height: 120%;
  font-size: clamp(0.1rem, 1vw, 1rem);
  text-align: center;
}

.f_main_2_l {
  display: inline-block;
  width: 69%;
  padding: 0 0 0 2.5%;
}

.f_main_2_r {
  display: inline-block;
  width: 29%;
  margin-right: 2%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

/****************************** Page4 ******************************/
#page_4 {
  width: calc(100% - 104px);
  margin-left: 52px;
  height: calc(100% + 80px);
  border-width: 0 3px 3px 3px;
  position: relative;
  /* 헤더가 fixed나 sticky일때 내부 링크로 이동시키면 위치가
     틀어지는 문제를 해결하기 위한 설정 */
  margin-top: -99px;
  padding-top: 99px;
}

.language {
  display: inline-block;
  width: 70%;
}

.language img {
  width: 50px;
  height: 50px;
}

.about_1 {
  width: 100%;
}

/************ 명함 ************/
.card {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 37%;
  height: 300px;
  box-shadow: 0 0 0 1px;
  display: inline-block;
  margin: 2% 0 2% 2%;
}

.line {
  position: absolute;
  right: 30px;
  top: 0;
  z-index: 1;
  background-color: #5e2a7d;
  width: 3%;
  height: 100%;
}

.git_logo {
  margin: 2.5% 0 0.5% 2.5%;
  width: 50px;
  height: 50px;
}

.card_1 {
  margin: 0 0 0 3%;
  letter-spacing: 12px;
  font-size: 35px;
  color: #262523;
}

.card_2 {
  margin: 1% 0 0 3.5%;
  font-weight: 400;
  font-size: 20px;
  color: #262523;
}

.card_3 {
  margin: 0 0 3% 3.5%;
  font-weight: 400;
  font-size: 14px;
  color: #262523;
}

.card_4 {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 15px;
  font-weight: 400;
  margin: 0 12% 3% 0;
  color: #262523;
}

.card_4 b {
  color: #262523;
}

/************ about_1 오른쪽 구역 ************/
.card_r {
  width: 55%;
  float: right;
  margin: 2% 2% 0 4%;
  line-height: 180%;
}

.card_r p {
  font-size: clamp(0.8rem, 1.2vw, 1.5rem);
}

.about_2 {
  padding-left: 2%;
  width: 100%;
}

.skill_1 {
  width: 100%;
  height: 110px;
}

.language {
  display: inline-block;
  width: 70%;
}

.language img {
  width: 50px;
  height: 50px;
  display: inline-block;
  top: 50%;
  transform: translateY(45%);

}

/****************************** 반응형 ******************************/

/************ 1300 ************/
@media screen and (max-width:1300px) {
  .main_2 {
    margin-top: 20px;
  }
}

/************ 1024 ************/
@media screen and (max-width:1024px) {
  .main_2 {
    margin-top: 40px;
  }
}

/************ 900 ************/
@media screen and (max-width:900px) {
  .main_2 {
    margin-top: 70px;
  }
}

/************ 850 ************/
@media screen and (max-width:850px) {
  .main_2 {
    margin-top: 80px;
  }
}

/************ 800 ************/
@media screen and (max-width:800px) {
  .main_2 {
    margin-top: 100px;
  }
}

/************ 767 ************/
@media screen and (max-width:767px) {

  .main_left {
    width: 100%;
    display: block;
  }

  .main_right {
    display: inline-block;
    width: 100%;
    position: absolute;
  }

  .main_2 {
    margin-top: 80%;
  }

  .info_3 {
    display: inline-block;
    width: 100%;
    margin-top: 1%;
    padding-right: 4%;
  }

  .menu {
    display: table;
    float: right;
    width: 180px;
    line-height: 78px;
  }

  .menu a {
    display: table-cell;
    font-size: 14px;
    padding: 0;
  }
}

/************ 724 ************/
@media screen and (max-width:724px) {

  .main_left {
    width: 100%;
    display: block;
  }

  .main_right {
    display: inline-block;
    width: 100%;
    position: absolute;
    padding: 2% 2% 0 2%;
  }

  .main_2 {
    margin-top: 90%;
  }

  .menu {
    display: table;
    float: right;
    width: 180px;
    line-height: 78px;
  }

  .menu a {
    display: table-cell;
    font-size: 14px;
    padding: 0;
  }
}

/************ 500 ************/
@media screen and (max-width:500px) {

  #page_1 {
    width: calc(100% - 30px);
    margin-left: 15px;
    height: calc(100% + 80px);
    border: 3px;
    border-style: solid;
  }

  .header {
    position: fixed;
    width: calc(100% - 30px);
    margin-left: 15px;
    height: 134px;
    border: 3px;
    border-style: solid;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #262523;
    line-height: 127px;
  }

  .main_left {
    width: 100%;
    display: block;
  }

  .main_right {
    width: 100%;
    position: absolute;
    padding: 2% 2% 0 2%;
  }

  .main_2 {
    width: 100%;
    position: relative;
    margin-top: 100%;
  }

  .info_3 {
    margin-top: 2%;
  }

  .menu {
    display: table;
    float: right;
    width: 180px;
    line-height: 78px;
  }

  .menu a {
    display: table-cell;
    font-size: 14px;
    padding: 0;
  }
}

/************ 320 ************/
@media screen and (max-width:320px) {

  #page_1 {
    width: calc(100% - 20px);
    margin-left: 10px;
    height: calc(100% + 80px);
    border: 3px;
    border-style: solid;
  }

  .header {
    position: fixed;
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 134px;
    border: 3px;
    border-style: solid;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #262523;
    line-height: 127px;
  }

  .main_left {
    width: 100%;
    display: block;
  }

  .main_right {
    display: inline-block;
    width: 100%;
    position: absolute;
    padding: 2% 2% 0 2%;
  }

  .main_2 {
    margin-top: 150%;
  }

  .menu {
    display: table;
    float: right;
    width: 120px;
    line-height: 78px;
  }

  .menu a {
    display: table-cell;
    font-size: 10px;
  }
}